<footer class="container" id="footer">
  <nav aria-label="Site map">
    <ul>
      <li>
        <a href="{{ site.baseurl}}/shop/">
          Shop phones by brand
        </a>
        <ul>
          <li>
            <a href="{{ site.baseurl}}/shop/apple">
              Apple
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="{{ site.baseurl}}/shop/">
          My account
        </a>
        <ul>
          <li>
            <a href="{{ site.baseurl}}/shop/apple">
              Apple
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="{{ site.baseurl}}/shop/">
          About T-Mobile
        </a>
        <ul>
          <li>
            <a href="{{ site.baseurl}}/shop/apple">
              Apple
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <p class="center-text">{{- site.description | escape -}}</p>
</footer>
