<nav id="nav" class="site-menu" aria-label="Site menu" e>
  
  <a class="home"
    {% if page.url== "/" %} aria-current="page" {% endif %}
    href="{{ site.baseurl }}/">T <span class="hidden">{{ site.title }}</span>
  </a>

  <button class="site-menu-toggle">
    <span class="hidden">Menu</span>
  </button>

  <ul class="audience">
    <li>
      <a
        {% if page.url== "/web/" %} aria-current="page" {% endif %}
        {% if page.url contains "web" %} class="current" {% endif %}
        href="{{ site.baseurl }}/wireless/">Wireless
      </a>
    </li>
    <li>
      <a
        {% if page.url== "/native/" %} aria-current="page" {% endif %}
        {% if page.url contains "native" %} class="current" {% endif %}
        href="{{ site.baseurl }}/business/">Business
      </a>
    </li>
    <li>
      <a
        {% if page.url== "/native/" %} aria-current="page" {% endif %}
        {% if page.url contains "native" %} class="current" {% endif %}
        href="{{ site.baseurl }}/prepaid/">Prepaid
      </a>
    </li>
    <li>
      <a
        {% if page.url== "/native/" %} aria-current="page" {% endif %}
        {% if page.url contains "native" %} class="current" {% endif %}
        href="{{ site.baseurl }}/tv/">TV
      </a>
    </li>
    <li>
      <a
        {% if page.url== "/native/" %} aria-current="page" {% endif %}
        {% if page.url contains "native" %} class="current" {% endif %}
        href="{{ site.baseurl }}/banking/">Banking
      </a>
    </li>    
    <li>
      <a
        {% if page.url== "/native/" %} aria-current="page" {% endif %}
        {% if page.url contains "native" %} class="current" {% endif %}
        href="{{ site.baseurl }}/internet/">Internet
      </a>
    </li>        
  </ul>
  
  <ul class="primary">
    <li>
      <a
        {% if page.url== "/web/" %} aria-current="page" {% endif %}
        {% if page.url contains "web" %} class="current" {% endif %}
        href="{{ site.baseurl }}/plans/">Plans
      </a>
    </li>
    <li>
      <a
        {% if page.url== "/native/" %} aria-current="page" {% endif %}
        {% if page.url contains "native" %} class="current" {% endif %}
        href="{{ site.baseurl }}/shop/">Phones &amp; Devices
      </a>
    </li>
    <li>
      <a
        {% if page.url== "/native/" %} aria-current="page" {% endif %}
        {% if page.url contains "native" %} class="current" {% endif %}
        href="{{ site.baseurl }}/deals/">Deals
      </a>
    </li>
    <li>
      <a
        {% if page.url== "/native/" %} aria-current="page" {% endif %}
        {% if page.url contains "native" %} class="current" {% endif %}
        href="#">Coverage
      </a>
    </li>
  </ul>

  <ul class="secondary">
    <li>
      <a class="illustrated find-a-store"
        {% if page.url== "/web/" %} aria-current="page" {% endif %}
        {% if page.url contains "web" %} class="current" {% endif %}
        href="{{ site.baseurl }}/stores/">
        <span>Find a store</span>
      </a>
    </li>
    <li>
      <a class="illustrated contact"
        {% if page.url== "/native/" %} aria-current="page" {% endif %}
        {% if page.url contains "native" %} class="current" {% endif %}
        href="{{ site.baseurl }}/contact/">
        <span>Contact</span>
      </a>
    </li>
    <li>
      <a class="illustrated cart"
        {% if page.url== "/native/" %} aria-current="page" {% endif %}
        {% if page.url contains "native" %} class="current" {% endif %}
        href="{{ site.baseurl }}/cart/">
        <span>Cart</span>
      </a>
    </li>
  </ul>

  <div class="search-container">
    {% include examples/input-search.html %}
  </div>

  <div class="sign-in-container">
    <button class="sign-in">
      My Account
    </button>
  </div>

</nav>