footer {
  @extend .container;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  margin-bottom: 3rem;

  nav {
    display: flex;
    ul {
      display: flex;
      li {
        display: block;
      }
    }
    a {
      text-decoration: underline;
      text-underline-offset: 4px;
      text-decoration-color: $color-gray-dark;

      &:after {
        display: none !important;
      }
    }
  }
}