.nav-list {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    &:last-of-type {
      border-bottom: none;
    }
  }

  a {
    display: block;
    padding: 1rem .5rem 1rem 3rem;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    border-bottom: 1px solid $color-border-gray;
    &:hover {
      text-decoration: underline;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: .5rem;
      left: 0rem;
      width: 2rem;
      height: 2rem;
      border: 1px solid $color-border-gray;
    }
  }
}
details {
  .nav-list {
    li {
      a {
      }
    }
  }
}
