.shop {



}

.products {
  display: grid;
  margin: 0;
  padding: 0;
  @include break($break-large) {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 3rem;
  }

  @include break($break-max) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 3rem;
  }
  li {
    margin: 0;
    padding: 0rem;
    list-style-type: none;
  }
  
  .tertiary {
    margin-bottom: 0;
  }

  .products-list-item {
    display: grid;
    position: relative;
    row-gap: 1rem;
  }
  button {
    z-index: 13;
  }

  a {
    display: block;

    &:before {
      z-index: 12;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &:hover {
      &:before {
        outline: .25rem solid rgba($color-brand-primary, .5);
        outline-offset: 1rem;
      }
    }
    &:focus {
      &:before {
        @extend .focused;
        outline-offset: 1rem;
      }

    }
  }

  .product-image {
    background-color: $color-gray-light;
    width: 100%;
    padding-top: 48%;
    padding-bottom: 48%;
    border-radius: 1rem;
    text-align: center;
  }

  .product-full-name {
  }

  .list-colors {
    display: flex;
    grid-row: 3;

    li {
      background-color: $color-gray-light;
      height: 2rem;
      width: 2rem;
      border-radius: 1rem;
      margin-right: .25rem;
    }
  }

  .brand {
    font-weight: normal;
    display: block;
  }
  
}
