---
layout: default
---
<article>
  <div class="container narrow">
    <h1 class="h-alpha">
      {{ page.title | escape }}
    </h1>
  </div>
  
  <div class="container narrow">
    <div class="alert">
      Before you check out you must add a wireless plan to: 
      <ul>
        <li>
          <a href="{{ site.baseurl }}/plans/">iPhone 11 - Add a plan</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container narrow">
      <div class="card">
      <table>
        <caption class="h-bravo">
          Ready to check out?
        </caption>
        <tbody>
          <tr>
            <th scope="row">
              Due today
            </th>
            <td scope="row">
              $418.00
            </td>
          </tr>
          <tr>
            <th scope="row">
              Due monthly
            </th>
            <td scope="row">
              $87.27
            </td>
          </tr>
        </tbody>
      </table>

      <div id="alert" class="inert" role="alert">
        Before you check out you must add a wireless plan to: 
        <ul>
          <li>
            <a href="{{ site.baseurl }}/plans/">iPhone 11 - Add a plan</a>
          </li>
        </ul>
      </div>

      <button id="show-alert" class="button-alpha" aria-disabled="true">
        Check out
      </button>
    </div>
  </div>

  <div class="container narrow">
    <h2 class="h-bravo">In your cart</h2>

<div class="card invalid">
      <h3 class="h-charlie" id="product-title-1">
        iPhone 11
        <a class="button tertiary" href="{{ site.baseurl }}/plans/">Add a wireless plan to proceed</a>
      </h3>
      <div>
        Product image goes here
      </div>
      <ul>
        <li>
          128GB
        </li>
        <li>
          Midnight Green
        </li>
      </ul>

      <h4 class="h-delta">
        Chosen add-ons
      </h4>

      <ul>
        <li>
          Device protection + $5/mo
        </li>
      </ul>

      <table>
        <caption class="h-delta">
          Cost breakdown
        </caption>
        <tbody>
          <tr>
            <th scope="row">
              Due today
            </th>
            <td scope="row">
              $418.00
            </td>
          </tr>
          <tr>
            <th scope="row">
              Due monthly
            </th>
            <td scope="row">
              $87.27
            </td>
          </tr>
        </tbody>
      </table>    

      <details>
        <summary aria-label="Edit iPhone 13 + Magenta Max Plan">
          Edit
        </summary>
        <div class="flex">
          <button class="edit" aria-label="Edit iPhone 13">Edit device</button>
          <button class="edit" aria-label="Edit  Magenta Max Plan">Edit plan</button>
          <button class="edit" aria-label="Save iPhone 13 + Magenta Max Plan from cart for later">Save for later</button>
          <button class="edit remove" aria-label="Remove iPhone 13 + Magenta Max Plan from cart">Remove</button>
        </div>
      </details>

    </div>


    <div class="card">
      <h3 class="h-charlie" id="product-title-1">
        iPhone 13 + Magenta Max Plan
      </h3>
      <h4 class="h-delta">
        Options
      </h4>

      <ul>
        <li>
          128GB
        </li>
        <li>
          Midnight Green
        </li>
      </ul>

      <h4 class="h-delta">
        Add-ons
      </h4>

      <ul>
        <li>
          Device protection + $5/mo
        </li>
      </ul>

    
      <table>
        <caption class="h-delta">
          Cost breakdown
        </caption>
        <tbody>
          <tr>
            <th scope="row">
              Due today
            </th>
            <td scope="row">
              $418.00
            </td>
          </tr>
          <tr>
            <th scope="row">
              Due monthly
            </th>
            <td scope="row">
              $87.27
            </td>
          </tr>
        </tbody>
      </table>      
      
      <details>
        <summary aria-label="Edit iPhone 13 + Magenta Max Plan">
          Edit
        </summary>
        <div class="flex">
          <button class="edit" aria-label="Edit iPhone 13">Edit device</button>
          <button class="edit" aria-label="Edit  Magenta Max Plan">Edit plan</button>
          <button class="edit" aria-label="Save iPhone 13 + Magenta Max Plan from cart for later">Save for later</button>
          <button class="edit remove" aria-label="Remove iPhone 13 + Magenta Max Plan from cart">Remove</button>
        </div>
      </details>
    </div>

  </div>
  <div class="container narrow">
    <div class="alert">
      Before you check out you must add a wireless plan to: 
      <ul>
        <li>
          <a href="{{ site.baseurl }}/plans/">iPhone 11 - Add a plan</a>
        </li>
      </ul>
    </div>
  </div>
<div class="container narrow">
      <div class="card">
      <table>
        <caption class="h-bravo">
          Ready to check out?
        </caption>
        <tbody>
          <tr>
            <th scope="row">
              Due today
            </th>
            <td scope="row">
              $418.00
            </td>
          </tr>
          <tr>
            <th scope="row">
              Due monthly
            </th>
            <td scope="row">
              $87.27
            </td>
          </tr>
        </tbody>
      </table>
      <button class="button-alpha">
        Check out
      </button>
    </div>
  </div>
</article>
