---
layout: default
---
<article>
  <div class="container">
    <h1 class="h-alpha">
      {{ page.title | escape }}
    </h1>
  </div>
  <div class="container group-1-4 deals">
    <div>
      <div class="sticky top">
        <nav aria-label="Filter devices">
          <details open>
            <summary>
              Filter
            </summary>
            <ul class="nav-list" aria-label="Deals filter">
            <li>
              <details open class="compact">
                <summary>
                  Devices
                </summary>
                  <input type="checkbox" id="alphaCheckbox">
                  <label for="alphaCheckbox">Phones</label>

                  <input type="checkbox" id="bravoCheckbox">
                  <label for="bravoCheckbox">Plans</label>

                  <input type="checkbox" id="charlieCheckbox">
                  <label for="charlieCheckbox">Watches</label>

                  <input type="checkbox" id="deltaCheckbox">
                  <label for="deltaCheckbox">Tablets</label>
              </details>
            </li>

            <li>
              <details class="compact">
                <summary>
                  Deals
                </summary>
                  <input type="checkbox" id="alphaCheckbox">
                  <label for="alphaCheckbox">New</label>

                  <input type="checkbox" id="bravoCheckbox">
                  <label for="bravoCheckbox">Special offer</label>

                  <input type="checkbox" id="charlieCheckbox">
                  <label for="charlieCheckbox">Under $500</label>

                  <input type="checkbox" id="deltaCheckbox">
                  <label for="deltaCheckbox">Under $600</label>
              </details>
            </li>
            <li>
              <details class="compact">
                <summary>
                  Brands
                </summary>
                  <input type="checkbox" id="alphaCheckbox">
                  <label for="alphaCheckbox">Alpha</label>

                  <input type="checkbox" id="bravoCheckbox">
                  <label for="bravoCheckbox">Bravo</label>

                  <input type="checkbox" id="charlieCheckbox">
                  <label for="charlieCheckbox">Charlie</label>
              </details>
            </li>
            <li>
              <details class="compact">
                <summary>
                  Operating system
                </summary>
                  <input type="checkbox" id="alphaCheckbox">
                  <label for="alphaCheckbox">Alpha</label>

                  <input type="checkbox" id="bravoCheckbox">
                  <label for="bravoCheckbox">Bravo</label>

                  <input type="checkbox" id="charlieCheckbox">
                  <label for="charlieCheckbox">Charlie</label>
              </details>
            </li>
            <li>
              <details class="compact">
                <summary>
                  Network speed
                </summary>
                  <input type="checkbox" id="alphaCheckbox">
                  <label for="alphaCheckbox">Alpha</label>

                  <input type="checkbox" id="bravoCheckbox">
                  <label for="bravoCheckbox">Bravo</label>

                  <input type="checkbox" id="charlieCheckbox">
                  <label for="charlieCheckbox">Charlie</label>
              </details>
            </li>

          </ul>
          </details>
          
        </nav>    
      </div>
    </div>
    
    <div class="card" style="height: 300vh;">
      Deals go here
    </div>
  </div>
</article>
