---
layout: default
---
<article>
  <div class="container">
    <h1 class="h-alpha">
      {{ page.title | escape }}
    </h1>
    <div class="group-1-4">
      <div>
        <div class="card sticky top">
          <h2 class="h-charlie">
            Devices
          </h2>
          <nav aria-label="Device categories">
            <ul class="nav-list">
              <li>
                <a href="#">Phones</a>
              </li>
              <li>
                <a href="#">Tablets &amp; devices</a>
              </li>
              <li>
                <a href="#">Smart watches</a>
              </li>
              <li>
                <a aria-label="Hotspot & Internet of Things" href="#">Hotspot &amp; IoT</a>
              </li>
              <li>
                <details class="compact">
                  <summary>
                    Accessories
                  </summary>
                  <ul class="nav-list">
                    <li>
                      <a href="#">All accessories</a>
                    </li>
                    <li>
                      <a href="#">Cases &amp; covers</a>
                    </li>
                    <li>
                      <a href="#">Chargers &amp; adapters</a>
                    </li>
                    <li>
                      <a href="#">And so on</a>
                    </li>
                  </ul>
                </details>
              </li>
            </ul>
          </nav>

          <h2 class="h-charlie margin-top">
            Filters
          </h2> 

          <nav aria-label="Filter devices">
            <ul class="nav-list">
              <li>
                <details class="compact">
                  <summary>
                    Deals
                  </summary>
                    <input type="checkbox" id="alphaCheckbox">
                    <label for="alphaCheckbox">Alpha</label>

                    <input type="checkbox" id="bravoCheckbox">
                    <label for="bravoCheckbox">Bravo</label>

                    <input type="checkbox" id="charlieCheckbox">
                    <label for="charlieCheckbox">Charlie</label>
                </details>
              </li>
              <li>
                <details class="compact">
                  <summary>
                    Brands
                  </summary>
                    <input type="checkbox" id="alphaCheckbox">
                    <label for="alphaCheckbox">Alpha</label>

                    <input type="checkbox" id="bravoCheckbox">
                    <label for="bravoCheckbox">Bravo</label>

                    <input type="checkbox" id="charlieCheckbox">
                    <label for="charlieCheckbox">Charlie</label>
                </details>
              </li>
              <li>
                <details class="compact">
                  <summary>
                    Operating system
                  </summary>
                    <input type="checkbox" id="alphaCheckbox">
                    <label for="alphaCheckbox">Alpha</label>

                    <input type="checkbox" id="bravoCheckbox">
                    <label for="bravoCheckbox">Bravo</label>

                    <input type="checkbox" id="charlieCheckbox">
                    <label for="charlieCheckbox">Charlie</label>
                </details>
              </li>
              <li>
                <details class="compact">
                  <summary>
                    Network speed
                  </summary>
                    <input type="checkbox" id="alphaCheckbox">
                    <label for="alphaCheckbox">Alpha</label>

                    <input type="checkbox" id="bravoCheckbox">
                    <label for="bravoCheckbox">Bravo</label>

                    <input type="checkbox" id="charlieCheckbox">
                    <label for="charlieCheckbox">Charlie</label>
                </details>
              </li>

            </ul>
            
            
          </nav>           
        </div>
      </div>
      

      <div class="card">
        <h2 class="h-bravo">Phones</h2>
        <ul class="products">
          {% for i in (1..4) %}
            {% for page in site.products %}
            <li class="products-list-item">
              <button class="inline-modal" aria-label="Special offer: Get the iPhone 13 on us, forever">
                On us, forever, or whatever
              </button>
              <div class="product-image">
                Product image goes here
              </div>
                    
              <h3 class="product-full-name">
                <a href="{{ site.baseurl }}{{ page.url }}" aria-describedby="colors pricing">
                  <span class="brand">{{ page.brand }}</span>
                  <span class="h-charlie">{{ page.name }}</span>
                </a>
              </h3>

              {% assign uniqueColors = page.colors | split: ", " %}
              <ul id="colors" class="list-colors" aria-label="Available in these colors">
                {% for color in uniqueColors %}
                  <li>
                    <span class="hidden">{{ color }} </span>
                  </li>
                {% endfor %}
              </ul>           
  
              <div class="star-container">
                {% include examples/stars.html %}
                <span class="hidden">
                  Rating:
                </span>
                {{ page.rating }}
                <span class="hidden">
                  stars
                </span>
              </div>

              <ul id="pricing">
                <li class="finance">
                  <span class="hidden">Finance the {{ page.name }} at</span>
                  <span class="finance-payment">$26.76/mo</span>
                  <span class="finance-term">for 30 months</span>
                  <span class="finance-downpayment">$0 down + tax</span>
                </li>
                <li>
                  Full price: $799.99
                </li>
              </ul>
              </li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>

    </div>


    



    
  </div>
</article>

