<div class="tile">
    <h2>
    <a href="#">
      <div class="eyebrow" >
        Available now only at T-Mobile      
      </div>
      <div class="h-bravo">
        Get Apple TV+ on us for one year
      </div>
    </a>
  </h2>
  <p><strong>How does the deal work: </strong> We pay up to $1000 via 30 monthly bill credits when you’re on a Magenta® MAX plan and trade in an eligible device.</p>
  
  <a href="#" class="button">
    Shop all iPhones
  </a>

  <div>
    product image goes here
  </div>

  <div class="legal">
    <p>If you cancel before 30 credits, credits stop & balance on required finance agreement may be due; contact us. For well-qualified customers; plus tax. 
      <a aria-label="See full terms for Get the iPhone 13 on us" href="#">See full terms</a>
      </p>
  </div>
</div>
